.page-template-page-invitados{
	
	.content{
		.col-md-6{
			.cont-wrap{
				border-bottom: 2px solid #000;
			    overflow: hidden;
			    min-height: 350px;
			    margin-bottom: 40px;
			    position: relative;
			    padding-bottom: 50px;

			    p{
			    	text-align: left;
			    }

			    a{
			    	position: absolute;
			    	right:0;
			    	bottom:20px;
			    	float: right;
					font-size: 1.5rem;
					color: $nja;
					text-transform: uppercase;
    				font-weight: 700;
    				
			    }

			    div{
			    	padding-left:10px;
			    	border-left:1px dashed #000;
			    }
			}
		}
	}
}

.page-programacion{

	h2,h3,h5{
		width: 100%;
		}

	h3{
		font-size: 3.5rem;
		text-transform: uppercase;
	}
	h5{
		font-weight: 800;
	    font-size: 1.6rem;
	    color:$nja;
	}

	.content a{
		color:#000;
	}
	.actividad{
		width:100%;
		padding-left:4%;
		border-left: 1px dashed;
	    margin-bottom: 50px;
    	font-size: 1.4rem;
	    p{
	    	margin:0;
	    }
	    ol{
			list-style: decimal;
			margin-left: 20px;
	    }
	    
	    figcaption{
	    	font-size: 1rem;
    		text-align: center;
	    }
	    
	    
	}

}