body{
	background: $rosagris;

	&.page-template-page-festival{
		background:$grismarron;
	}

	&.page-performance{
		background-color: #efeed8;
		
		.content img{
			border:1px solid;
			margin-bottom: 40px;
		}
	}

	&.page-programacion{
		background:#ececec;
	}

	&.page-template-page-invitados{
		background-color: #fff8e6;
	}
}

ul.social{
	margin-bottom: 0;
    margin-top: 2rem;
	li{
		a{
			color: #FFF;
			background:#000;
			border-radius:20px;
			border-radius: 30px;
		    width: 36px;
		    display: inline-block;
		    font-size: 1.5rem;
		    text-align: center;

		    &:hover{
		    	background: $azul;
		    }
		}
	}
}

.navbar{
	margin-left: auto;
	text-transform: uppercase;
    font-size: 1.37rem;
    font-weight: 800;
    letter-spacing: 0.1rem;
	ul.navbar-nav{
		li{
			border-left:3px solid #000;

			a{
				color: #000;
			}
		}
	}

.collapse.in{
	display: block !important;
}

.navbar-toggler{
	margin-left: auto;
}
}

.navbar-light .navbar-nav .nav-link{
	color:rgba(0,0,0,1);
	&.active{
		color:$nja;
	}
}
@media screen and (max-width: 1199px){
	.navbar{
		font-size:1.09rem;
	}
}

@media screen and (max-width: 991px){
	.navbar{
		font-size:0.71rem;
	}
}

@media screen and (max-width: 767px) {
	.navbar ul.navbar-nav li{
		border-left:none;
		}
	.navbar{
		font-size:2rem;
	}
	
}


.reserva-tu-lugar{
	font-size: 2rem;
    color: #000;
    font-weight: 800;

    &:hover{
    	color: rgba(0,0,0,0.7);
    	text-decoration: none;
    }
}

h1{
	.sec-pr{
		color: $grismarron;
		  text-shadow:
		   -2px -2px 0 #000,  
		    2px -2px 0 #000,
		    -2px 2px 0 #000,
		     2px 2px 0 #000;
		letter-spacing: 6px;
	}
}


@media screen and (max-width: 767px) {
	ul.social{
		width: 175px;
    	margin-left: auto;
    	margin-right: auto;
    	transform: scale(0.7);
	}
}