body.page-template-page-bases{
	 @include linear-gradient(#FFFFFF, #FFE7E7);
}

body.page-template-page-invitados{
	@include linear-gradient(#f0f9ff 0, #c2cbc9 50%, #b5c8d3 100%);
}

body.page-template-page-formulario{
	@include linear-gradient(#FFFFFF, #89b599);
}
.navbar{
	margin-left: auto;

	ul.navbar-nav{
		li{
			border-left:1px solid;
		}
	}

.collapse.in{
	display: block !important;
}

.navbar-toggler{
	margin-left: auto;
}
}
